<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </div>
<ul>
    <% for(var i=0; i < data.length; i++){ %>
        <% if(typeof Object.values(data[i]) === undefined){ %>
             <% Object.keys(data[i]) %> is missing
      <%  }else{ %>
        <h4>NAME: <%= data[i].name %></h4>
        <h5>AGE: <%= data[i].age %></h5>
        <h5>HOBBIES: <%= data[i].hobbies %></h5>
    <b>--------------------------------------------</b>
        <% }} %>
</ul>

</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>